Hi <%=@name%>,

You have a new list shared by <%=@bucket.user.email %>. Here are the items in that list.

<ul>
<% @bucket.tasks.each do |t| %>
<li><%=t.title%></li>
<% end %>
</ul>

Have Fun.

Regards,
The Taskr Team
