/* line 5, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li label {
  display: block;
  width: 100%;
}
/* line 8, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset ol li input[type=text] {
  width: 400px;
}
/* line 10, ../../app/stylesheets/formtastic_changes.sass */
form.formtastic fieldset.buttons {
  padding-left: 0;
}
