/* line 5, ../../app/stylesheets/formtastic_changes.sass */
form fieldset ol li label {
  display: block;
  width: 100%;
}
/* line 8, ../../app/stylesheets/formtastic_changes.sass */
form fieldset ol li input[type=text] {
  width: 400px;
}
