%h3 Welcome to Taskr

%p This is where you will extoll the virtues of your product and convince the unsuspecting visitor to sign up with your product or sign in to use the application.

%p 
  =link_to "Sign in", new_user_session_path
  or 
  =link_to "Sign up", new_user_registration_path
  to proceed
